# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


# Gradle
.gradle/
build/

# IDE Specific
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
.vscode/

# Environment and Sensitive Files
# Excludes the Docker Compose file for local setup
docker-compose.yml

# Excludes application-level properties that might contain secrets
application.properties
test.properties

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Log Files
*.log
logs/

# STS (Spring Tool Suite)
.apt_generated
.springBeans
.factorypath

# Eclipse
.sts4-cache/

# JRebel
.jrebel/

# Environment variables - NEVER commit!
.env
.env.exampleß

# Miscellaneous
*.jar
*.war
*.zip
*.tar
*.rar

# Unit Test/Integration Test Reports
/target/site
/target/surefire-reports
/target/failsafe-reports


# Database
*.db